@using Microsoft.CodeAnalysis.CSharp.Syntax
@using System.Collections.ObjectModel
@using Bookstore.Utilities
@{
    ViewData["Title"] = "Home Page";
    var folders = ViewData["Folders"] as List<Folder>;
    var search = ViewData["Search"] as SearchQuery;
}

<div class="m-4">
    <!-- Query Bar -->
    <div class="bg-light p-2">
        <form method="get" asp-route="Index">
            <fieldset class="d-flex justify-content-between">
                <input style="width: 84%" name="search" type="text" class="form-control d-inline-block" value="@search.QueryString" placeholder="Bookmark Query">
                <input style="width: 15%" type="submit" class="d-inline-block">
            </fieldset>
        </form>
    </div>

    <form>
        <!-- Table Controls -->
        <span class="font-weight-bold">Bookmark Actions</span>
        
        <div class="d-flex justify-content-between my-2">
            <div class="w-50">
                <input type="submit" name="action" class="btn btn-primary" value="Archive">
                <input type="submit" name="action" class="btn btn-primary" value="Edit">
                <input type="submit" name="action" class="btn btn-danger" value="Delete">
                <button class="btn btn-secondary">Select All</button>
            </div>
            
            <div class="d-flex justify-content-end w-50">
                <!--
                <select class="form-control d-inline-block" style="width:10em">
                    <option selected>Sort By...</option>
                    <option>Date Created</option>
                    <option>URL</option>
                    <option>Title</option>
                    <option>Folder</option>
                    <option>Tags</option>
                </select>
                -->
                <a class="ml-2 btn btn-success" asp-controller="Bookmarks" asp-action="Create">New Bookmark</a>
            </div>
        </div>
        
        <!-- Main Table -->
        <table class="table table-sm">
            <thead>
            <tr>
                <th class="text-center">Select</th>
                <th class="text-center"><a title="Sort by Folder" href="?sortBy=folder">Folder &#x296E;</a></th>
                <th><a title="Sort by Bookmark" href="?sortBy=bookmark">Bookmark &#x296E;</a></th>
                <th class="text-center"><a title="Sort by Tag" href="?sortBy=tag">Tags &#x296E;</a></th>
                <th class="text-center"><a title="Sort by Archive Status" href="?sortBy=archive">Archive &#x296E;</a></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var bookmark in (ViewData["Bookmarks"] as List<Bookmark>)!)
                {
                    <tr>
                        <td class="text-center align-middle">
                            <input type="checkbox" class="form-check mx-auto" style="height: 1.5em; width: 1.5em;" name="selected" id="@bookmark.Id">
                        </td>
                        <td class="text-center align-middle">
                            <!-- TODO: Expand this out to include parent folders -->
                            @{ var bookmarkFolders = folders.FirstOrDefault(f => f.Id == bookmark.Folder?.Id)?.ToArray() ?? new Folder[] {}; }
                            @if (bookmarkFolders.Length == 0)
                            {
                                    <span>No Folder</span>
                            }
                            @foreach (var folder in bookmarkFolders)
                            {
                                <a href="?sortBy=folder:{@folder.Id}">@folder.Name</a>
                                @if (folder.Id != bookmarkFolders.Last().Id)
                                {
                                    <span>&gt;</span>
                                }
                            }
                        </td> 
                        <td class="align-middle">
                            <img style="width: 1.5em; height: 1.5em;" src="~/Bookmarks/Favicon/@bookmark.Id">
                            <a href="@bookmark.Url">@bookmark.Title</a>
                        </td>
                        <td class="text-center align-middle">
                            @{ var sortedBookmarkTags = bookmark.Tags?.OrderBy(t => t.Name).ToList() ?? new List<Tag>();}
                            @foreach (var tag in sortedBookmarkTags)
                            {
                                <a href="?tag=@tag.Name">@tag.Name</a><span>@(tag != sortedBookmarkTags.Last() ? "," : "")</span>
                            }
                        </td>
                        <td class="text-center align-middle">
                            @if (bookmark.Archive == null) {
                                @Html.Raw("Not Archived")
                            } else {
                                <a href="#">Archive Link</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>

</div>

