@using Bookstore.Utilities
@using System.Net.Http
@{
    string controller = ViewContext.RouteData.Values["Controller"] as string;
    string action = ViewContext.RouteData.Values["Action"] as string;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Bookstore</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bookstore.css">
    @if (controller == "Bookstore" && action == "Index")
    {
        <script src="~/js/cash.min.js" type="text/javascript"></script>
        <script src="~/js/bookstore.js" type="text/javascript"></script>
    }
</head>
<body>
<header class="navbar navbar-dark bg-dark">
    <!--<div class="navbar-brand">@ViewData["Title"]</div>-->
    <div class="navbar-brand">
        <a asp-controller="Bookstore" asp-action="Index">Bookstore</a>
        @if (controller != "Bookstore")
        {
            <span> | </span>
            <a asp-controller="@controller" asp-action="Index">@controller</a>
        }
        @if (action != "Index")
        {
            <span> &gt; </span>
            <a asp-controller="@controller" asp-action="@action">@action</a>
        }
    </div>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <span class="mr-2"><a asp-controller="User" asp-action="Settings">Settings</a></span>
            <span><a asp-controller="Account" asp-action="Logout">Logout</a></span>
        }
    </div>
</header>

<main>
    @RenderBody()
</main>

<!-- <footer> </footer> -->
</body>
</html>